* {
  margin: 0;
  padding: 0;
}

/* Main Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* banner styles */
.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  height: 600px;
  max-width: 1320px;
  margin: 41px auto;
  border-radius: 16px;
}

.banner .banner-text {
  position: relative;
  top: 33%;
}
.banner .banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner .banner-description {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
/* Offer section */

/* .offer-text {
  max-width: 802px;
  justify-content: center;
  margin: 0 auto;
} */

.offer-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
}

.offer-description {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.offer-sub-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
}
.offer-img {
  text-align: center;
}

/* Vactore styles */
.vactor {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  max-width: 1320px;
  height: 600px;
  display: flex;
  align-items: center;
  margin: 99px auto;
  border-radius: 15px;
}
.vactor-text {
  padding: 103px 77px 244px 103px;
}

.vactor-text h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

.vactor-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.vactor-text button {
  color: #fff;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 0, 0, 0);
  border: none;
  font-family: Inter;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.vactor-text button:hover {
  background-color: rgb(255, 0, 0);
  font-size: 15px;
}

.vector-img {
  padding: 56px 113px 55px 32px;
}

/* bonus styles */
.bonus {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 15px;
}

.bonus-text {
  padding: 82px 318px 214px 318px;
}

.bonus-text span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.bonus-text p {
  color: #070211;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.bonus-text button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border: none;
  color: #fff;
  cursor: pointer;
}
/* extra part styles */

.extra {
  display: flex;
  margin: 100px auto;
  justify-content: center;
  max-width: 1320px;
  align-items: center;
}
.best-offer {
  padding: 0px 100px 0px 0px;
}

.extra .extra-title {
  color: #f00;
  font-weight: 600;
  font-family: Inter;
  font-size: 20px;
  margin-bottom: 15px;
}

.extra h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  margin: 0 0;
}

.extra-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.third-part {
  margin: 0px 0px 0px 100px;
  padding: 0px 0px 0px 80px;
}

.third-part h4 {
  color: #f00;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}
.circle {
  width: 463px;
  height: 463px;
  flex-shrink: 0;
  border-radius: 463px;
  border: 15px solid #f00;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sale offer styles */

.holi-sale {
  width: 82.5%;
  margin: 0 auto;
}

.holi-container {
  text-align: center;
  padding: 0 250px;
  max-width: 1320px;
  margin: 0 auto;
}

.holi-text h2 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 0;
}
.holi-text h1 {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

.holi-text p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.img-con {
}
.img-one {
  background-image: url(../resources/Rectangle\ 1.png);
  background-repeat: no-repeat;
  /* position: relative; */
  background-position-x: right;
  background-position-y: bottom;
}

.img-one img {
  width: 429px;
  height: 433px;
  flex-shrink: 0;
  border-radius: 16px 16px 0px 0px;
}

.img-2 img {
  width: 644.219px;
  height: 137.535px;
  flex-shrink: 0;
}

.img-2 {
  background-image: url(../resources/Rectangle\ 2.png);
  background-repeat: no-repeat;
  width: 1520px;
  height: 229px;
  flex-shrink: 0;
  border-radius: 16px 0px 16px 16px;
}
/* gift */
.gifts-heading {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  margin-top: 200px;
}

.gifts-texts {
  text-align: left;
  max-width: 1320px;
  margin: 0 auto;
}
.texts {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.gifts-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 0;
}
.wow {
  transition: 0.275s;
}
.wow:hover {
  transition: 0.5s;
  scale: 115%;
}
.images {
  max-width: 1320px;
  width: 82.5%;
  margin: 0 auto;
  text-align: center;
}

.img2 {
  text-align: center;
}

.images img {
  padding: 6px;
}

.img2 img {
  padding: 6px;
}

.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  max-width: 1320px;
  height: 616px;
  margin: 120px auto;
  text-align: center;
}
.newsletter img {
  padding: 80px 585px 0px 585px;
}
.newsletter .n-text h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.newsletter .n-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 0 212px;
}
.newsletter .n-text button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  padding: 20px 46px;
  color: #fff;
}
.form {
  margin: 0;
  padding: 0;
}
.newsletter .n-text input {
  width: 600px;
  height: 55px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  outline: none;
  padding-left: 25px;
}
::placeholder {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

/* footer styles  */

footer {
  width: 100%;
  height: 100%;
  background-color: #070211;
}

.info {
  /* width: 100%;
  height: 100%; */
  margin: 0 auto;
  color: #fff;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  padding: 120px 0px 50px 0px;
}

.info-text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  max-width: 1320px;
  position: relative;
  top: 15%;
}

.contact {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  max-width: 1320px;
  /* position: relative;
  top: 15%; */
}

.social-media {
  text-align: center;
}
/* .social-media img {
  
} */
.social-media hr {
  width: 1320px;
  margin: 0 auto;
  border-color: rgba(255, 255, 255, 0.15);
}
.end {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  max-width: 1320px;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 100px;
}

.fle {
  display: flex;
  gap: 12px;
}
