/* Main Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* banner styles */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/resources/Banner\ Image.png");
  background-repeat: no-repeat;
  height: 600px;
  max-width: 1320px;
  margin: 41px auto;
  border-radius: 16px;
}

.banner .banner-text {
  position: relative;
  top: 33%;
}
.banner .banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}
.banner .banner-description {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
/* Offer section */

/* .offer-text {
  max-width: 802px;
  justify-content: center;
  margin: 0 auto;
} */

.offer-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 72px;
  font-weight: 700;
}

.offer-description {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.offer-sub-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
}
.offer-img {
  text-align: center;
}

/* Vactore styles */
.vactor {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  max-width: 1320px;
  height: 600px;
  display: flex;
  align-items: center;
  margin: 99px auto;
  border-radius: 15px;
}
.vactor-text {
  padding: 103px 77px 244px 103px;
}

.vactor-text h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

.vactor-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.vactor-text button {
  color: #fff;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 0, 0, 0);
  border: none;
  font-family: Inter;
  border: none;
}
.vactor-text button:hover {
  background-color: rgb(255, 0, 0);
  font-size: 15px;
  transition: 0.5s;
}

.vector-img {
  padding: 56px 113px 55px 32px;
}

/* bonus styles */
.bonus {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 15px;
}

.bonus-text {
  padding: 82px 318px 214px 318px;
}

.bonus-text span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.bonus-text p {
  color: #070211;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.bonus-text button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border: none;
  color: #fff;
}
